@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This site is used to share addresses and information with other members to better help establish connections with neighbors.</p>
