@{
    ViewBag.Title = "Home Page";
}

<div style="background-color: #d1e1fc !important" class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">This website serves as a simple address storage and sharing site. By creating an account on our website, you too can add friends and family to our site and help extend our community!.</p>
    <p><a href="Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>